#navDiv {
	text-align: center;
	margin-left: 0px;
	margin-top: -40px;
}

.nav_button {
	font-size: 35px;
	border-radius: 0px;
	border: none;
	background-color:#500000;
	float: left;
	width: 16.666666666%;
	padding-bottom:10px;
	color:white;
}

#nameHeader {
	text-align:center;
	font-size:70px;
	padding-top:0px;
	color: black;
	text-decoration: underline;
}

body {
	background-color:#991919;
	font-family: 'Lucida Console', 'Courier New', monospace;
}

p {
	font-size: 18px;
}